<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{title}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['inicio']" href="#">Inicio</a></li>
          <li class="breadcrumb-item active">{{title}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
  <div class="container-fluid">
    <p-panel>
      <p-header>
        <div class="ui-toolbar-group-left">
          Ajustes
        </div>
        <div class="ui-toolbar-group-right">
          <button [routerLink]="['']"
                  type="button"
                  pButton
                  icon="pi pi-times"
                  class="ui-button-danger"
                  label="Salir">
          </button>
        </div>
      </p-header>
      <div class="row">
        <div class="col-md-12">
          <p-panel>
            <p-header>Tipo de Matriculas</p-header>
            <p-toolbar>
              <div class="ui-toolbar-group-left">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input #gb4 type="text" pInputText placeholder="Buscar...">
              </div>
              <div class="ui-toolbar-group-right">
                <button type="button"
                        pButton
                        (click)="loadTipoMatriculas()"
                        icon="pi pi-refresh"
                        class="ui-button-success">
                </button>
                <button type="button"
                        pButton
                        (click)="addTipoMatriculas()"
                        icon="pi pi-plus">
                </button>
              </div>
            </p-toolbar>
            <p-dataTable [value]="data_tm"
                         selectionMode="single"
                         (onRowDblclick)="loadTipoPagos($event.data)"
                         [globalFilter]="gb4"
                         [paginator]="true"
                         [rows]="[5]"
                         [responsive]="true"
                         [loading]="loading4">
              <p-column field="nombre"
                        header="TIPO MATRICULA"
                        [sortable]="true">
              </p-column>
              <p-column field="inicio"
                        header="INICIA"
                        [sortable]="true">
                <ng-template let-col let-car="rowData" pTemplate="body">
                  <div>{{ car[col.field] ? formatDate(car[col.field]) : null }}</div>
                </ng-template>
              </p-column>
              <p-column field="final"
                        header="FINALIZA"
                        [sortable]="true">
                <ng-template let-col let-car="rowData" pTemplate="body">
                  <div>{{ car[col.field] ? formatDate(car[col.field]) : null }}</div>
                </ng-template>
              </p-column>
              <p-column field="importe"
                        header="IMPORTE"
                        [sortable]="true">
              </p-column>
              <p-column field="estado"
                        header="ESTADO"
                        [style]="{'width':'100px'}"
                        [sortable]="true">
                <ng-template let-col let-car="rowData" pTemplate="body">
                  <div *ngIf="car[col.field] == 1; then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>ACTIVO</ng-template>
                  <ng-template #elseBlock>BLOQUEADO</ng-template>
                </ng-template>
              </p-column>
              <p-column field=""
                        header="ACCIÓN"
                        [style]="{'width':'125px'}"
                        [sortable]="true">
                <ng-template let-tipoMatriculas="rowData" pTemplate="body">
                  <div class="ui-helper-clearfix">
                    <button type="button"
                            pButton
                            (click)="editTipoMatriculas(tipoMatriculas)"
                            icon="pi pi-pencil"
                            style="float:left; margin: 5px"
                            label="Editar">
                    </button>
                  </div>
                </ng-template>
              </p-column>
            </p-dataTable>
          </p-panel>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p-panel>
            <p-header>Tipo de Pagos</p-header>
            <p-toolbar>
              <div class="ui-toolbar-group-left">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input #gb5 type="text" pInputText placeholder="Buscar...">
              </div>
              <div class="ui-toolbar-group-right">
                <button type="button"
                        pButton
                        (click)="loadTipoPagos(tipo_matriculas)"
                        icon="pi pi-refresh"
                        class="ui-button-success">
                </button>
                <button type="button"
                        pButton
                        (click)="addTipoPagos()"
                        icon="pi pi-plus">
                </button>
              </div>
            </p-toolbar>
            <p-dataTable [value]="data_tp"
                         selectionMode="single"
                         [globalFilter]="gb5"
                         [paginator]="true"
                         [rows]="[5]"
                         [responsive]="true">
              <p-column field="nombre"
                        header="TIPO PAGO"
                        [sortable]="true">
              </p-column>
              <p-column field="importe"
                        header="IMPORTE"
                        [sortable]="true">
              </p-column>
              <p-column field="partes"
                        header="N° PARTES"
                        [sortable]="true">
              </p-column>
              <p-column field="estado"
                        header="ESTADO"
                        [style]="{'width':'100px'}"
                        [sortable]="true">
                <ng-template let-col let-car="rowData" pTemplate="body">
                  <div *ngIf="car[col.field] == 1; then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>ACTIVO</ng-template>
                  <ng-template #elseBlock>BLOQUEADO</ng-template>
                </ng-template>
              </p-column>
              <p-column field=""
                        header="ACCIÓN"
                        [style]="{'width':'125px'}"
                        [sortable]="true">
                <ng-template let-tipoPagos="rowData" pTemplate="body">
                  <div class="ui-helper-clearfix">
                    <button type="button"
                            pButton
                            (click)="editTipoPagos(tipoPagos)"
                            icon="pi pi-pencil"
                            style="float:left; margin: 5px"
                            label="Editar">
                    </button>
                  </div>
                </ng-template>
              </p-column>
            </p-dataTable>
          </p-panel>
        </div>
      </div>
    </p-panel>
  </div>
</div>

<!--Growl-->
<p-growl [(value)]="msgs"></p-growl>

<!--TipoMatriculas-->
<form [formGroup]="tipoMatriculas">
  <p-dialog [(visible)]="display_tm" [responsive]="true" [modal]="true" [maximizable]="true" [baseZIndex]="100">
    <p-header>
      {{title_tm}}
    </p-header>
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Tipo de Matricula <span class="red"> (*)</span></label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText name="nombre_tm" formControlName="nombre" maxlength="100" minlength="5">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Descripción <span class="red"> (*)</span></label>
        </div>
        <div class="ui-grid-col-8">
        <textarea pInputTextarea
                  class="toUpperCase"
                  type="text"
                  placeholder="Descripción"
                  style="text-align: justify"
                  name="descripcion_tm"
                  formControlName="descripcion"
                  [rows]="5">
        </textarea>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Fecha Inicio <span class="red"> (*)</span></label>
        </div>
        <div class="ui-grid-col-8">
          <p-calendar [locale]="es"
                      dateFormat="dd/mm/yy"
                      [showIcon]="true"
                      placeholder="Fecha de Inicio"
                      class="toUpperCase"
                      name="inicio"
                      formControlName="inicio">
          </p-calendar>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Fecha Final <span class="red"> (*)</span></label>
        </div>
        <div class="ui-grid-col-8">
          <p-calendar [locale]="es"
                      dateFormat="dd/mm/yy"
                      [showIcon]="true"
                      placeholder="Fecha de Final"
                      class="toUpperCase"
                      name="final"
                      formControlName="final">
          </p-calendar>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Importe <span class="red"> (*)</span></label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText name="importe_tm" formControlName="importe">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Estado</label>
        </div>
        <div class="ui-grid-col-8">
          <p-checkbox binary="true"
                      name="estado_tm"
                      formControlName="estado">
          </p-checkbox>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button"
                pButton
                (click)="saveTipoMatriculas()"
                icon="pi pi-check"
                style="float: right"
                label="Guardar"
                [disabled]="!tipoMatriculas.valid"
                class="ui-button-success">
        </button>
        <button type="button"
                pButton
                (click)="display_tm = false"
                icon="pi pi-times"
                label="Cancelar"
                class="ui-button-danger">
        </button>
      </div>
    </p-footer>
  </p-dialog>
</form>

<!--TipoPagos-->
<form [formGroup]="tipoPagos">
  <p-dialog [(visible)]="display_tp" [responsive]="true" [modal]="true">
    <p-header>
      {{title_tp}}
    </p-header>
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Matricula</label>
        </div>
        <div class="ui-grid-col-8">
          {{ tipo_matriculas ? tipo_matriculas.nombre : null }}
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Tipo de Pago <span class="red"> (*)</span></label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText name="nombre_tp" formControlName="nombre" maxlength="100" minlength="5">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Importe <span class="red"> (*)</span></label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText name="importe_tp" formControlName="importe">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>N° de Letras <span class="red"> (*)</span></label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText name="partes" formControlName="partes">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Estado</label>
        </div>
        <div class="ui-grid-col-8">
          <p-checkbox binary="true"
                      name="estado_tp"
                      formControlName="estado">
          </p-checkbox>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button"
                pButton
                (click)="saveTipoPagos()"
                icon="pi pi-check"
                style="float: right"
                label="Guardar"
                [disabled]="!tipoPagos.valid"
                class="ui-button-success">
        </button>
        <button type="button"
                pButton
                (click)="display_tp = false"
                icon="pi pi-times"
                label="Cancelar"
                class="ui-button-danger">
        </button>
      </div>
    </p-footer>
  </p-dialog>
</form>

<p-dialog [style]="{'background-color': 'transparent', 'border': 'none', 'box-shadow': 'none'}"
          [showHeader]="false" [(visible)]="display" [modal]="true" [resizable]="true"
          [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <p align="center" style="font-size: 200px; color: #b8c7ce;"><i class="fa fa-spinner fa-pulse"></i></p>
</p-dialog>
