<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{title}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['inicio']" href="#">Inicio</a></li>
          <li class="breadcrumb-item active">{{title}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
  <div class="container-fluid">
    <form [formGroup]="user" (ngSubmit)="onSubmit()">
      <p-panel>
        <p-header>
          <div class="ui-toolbar-group-left">
            {{title}}
          </div>
          <div class="ui-toolbar-group-right">
            <button [routerLink]="['']"
                    type="button"
                    pButton
                    icon="pi pi-times"
                    class="ui-button-danger"
                    label="Salir">
            </button>
          </div>
        </p-header>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label>Contr. Actual</label>
            </div>
            <div class="ui-grid-col-4">
              <input type="password"
                     pInputText
                     placeholder="Contraseña Actual"
                     style="width: 100%"
                     formControlName="password"
                     minlength="6"
                     required autofocus>
            </div>
            <div class="ui-grid-col-4"></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label>Contr. Nueva</label>
            </div>
            <div class="ui-grid-col-4">
              <input type="password"
                     pInputText
                     placeholder="Contraseña Nueva"
                     style="width: 100%"
                     formControlName="pass"
                     minlength="6"
                     required>
            </div>
            <div class="ui-grid-col-4"></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">
              <label>Confirmar Contr.</label>
            </div>
            <div class="ui-grid-col-4">
              <input type="password"
                     pInputText
                     placeholder="Confirmar Contraseña Nueva"
                     style="width: 100%"
                     formControlName="confirm"
                     minlength="6"
                     required>
            </div>
            <div class="ui-grid-col-4"></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-4">
              <button type="submit" [disabled]="!user.valid" pButton class="ui-button-success" label="Guardar"></button>
            </div>
          </div>
        </div>
      </p-panel>
    </form>
  </div>
</div>

<p-dialog [style]="{'background-color': 'transparent', 'border': 'none', 'box-shadow': 'none'}"
          [showHeader]="false" [(visible)]="display" [modal]="true" [resizable]="true"
          [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <p align="center" style="font-size: 200px; color: #b8c7ce;"><i class="fa fa-spinner fa-pulse"></i></p>
</p-dialog>

<p-growl [(value)]="msgs"></p-growl>
