#full-screen-background-image {
  z-index: -999;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 732px) {
  #full-screen-background-image {
    height: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  #full-screen-background-image {
    height: 100%;
  }
}

/* Remove the background from the body element */
.center > body {
  background: transparent;
}
/* We will put the dynamically generated digital clock here */
.center .headline {
  color: #fff;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  font-weight: 300;
  -webkit-font-smoothing: antialiased !important;
  opacity: 0.8;
  margin: -50px 0 30px 0;
  font-size: 90px;
}
@media screen and (max-width: 480px) {
  .center.headline {
    font-size: 60px;
    margin-bottom: 40px;
  }
}
/* User name [optional] */
.center .lockscreen-name {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  font-family: "Comic Sans MS";
  color: #3c8dbc;
}
/* Will contain the image and the sign in form */
.lockscreen-item {
  padding: 0;
  background: #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 10px auto;
  width: 290px;
}
.lockscreen-item:before,
.lockscreen-item:after {
  display: table;
  content: " ";
}
.lockscreen-item:after {
  clear: both;
}
/* User image */
.lockscreen-item > .lockscreen-image {
  position: absolute;
  left: -10px;
  top: -30px;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 10;
}
.lockscreen-item > .lockscreen-image > img {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* Contains the password input and the login button */
.lockscreen-item > .lockscreen-credentials {
  margin-left: 80px;
}
.lockscreen-item > .lockscreen-credentials input {
  border: 0 !important;
}
.lockscreen-item > .lockscreen-credentials .btn {
  background-color: #fff;
  border: 0;
}
/* Extra to give the user an option to navigate the website [optional]*/
.lockscreen-link {
  margin-top: 30px;
  text-align: center;
}

