<!-- Navbar -->
<nav *ngIf="header == true" class="main-header navbar navbar-expand fixed-top bg-white navbar-light border-bottom">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        {{ identity ? identity.InstitutionName : 'ADMINISTRADOR' }}
      </a>
    </li>
  </ul>

  <!-- SEARCH FORM -->

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- User Dropdown Menu -->
    <li routerLinkActive="active" class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        {{ identity ? identity.nombres + ' ' : 'Developer' }}
        <i class="fa fa-chevron-down"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <a routerLink="avatar" routerLinkActive="active" href="#" class="dropdown-item">
          <!-- Message Start -->
          <div class="media">
            <i class="fa fa-user-circle mr-3"> </i>
            <div class="media-body">
              <h3 class="dropdown-item-title">Foto Perfil</h3>
            </div>
          </div>
          <!-- Message End -->
        </a>
        <a routerLink="contraseña" routerLinkActive="active" href="#" class="dropdown-item">
          <!-- Message Start -->
          <div class="media">
            <i class="fa fa-key mr-3"> </i>
            <div class="media-body">
              <h3 class="dropdown-item-title">Cambiar Contraseña</h3>
            </div>
          </div>
          <!-- Message End -->
        </a>
        <a routerLink="sesion" href="#" class="dropdown-item">
          <!-- Message Start -->
          <div class="media">
            <i class="fa fa-lock mr-3"> </i>
            <div class="media-body">
              <h3 class="dropdown-item-title">Bloquear Sesión</h3>
            </div>
          </div>
          <!-- Message End -->
        </a>
        <div class="dropdown-divider"></div>
        <a routerLink="logout" href="#" class="dropdown-item">
          <!-- Message Start -->
          <div class="media">
            <i class="fa fa-power-off mr-3"> </i>
            <div class="media-body">
              <h3 class="dropdown-item-title">Cerrar Sesión</h3>
            </div>
          </div>
          <!-- Message End -->
        </a>
      </div>
    </li>
  </ul>
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside *ngIf="header == true" class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/inicio" href="#" class="brand-link">
    <img src="assets/favicon.ico" alt="AdminLTE Logo" class="brand-image img-circle" style="margin-top: 5px; width: 18px;">
    <span class="brand-text font-weight-light">ISFER</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{{ identity ? (identity.src_img ? url + '/storage/avatars/' + identity.src_img : 'assets/dist/img/avatar6.jpg') : 'assets/dist/img/avatar6.jpg' }}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a [routerLink]="['/']" href="#" class="d-block">
          {{ identity ? identity.nombres : 'Developer' }}
        </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul *ngIf="identity" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a routerLink="inicio" href="#" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-home"></i>
            <p>Inicio</p>
          </a>
        </li>
        <li class="nav-header">MATRICULAS</li>
        <li *ngIf="identity.perfil == 'ALUMNO(A)'" class="nav-item">
          <a routerLink="mis-matriculas" href="#" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-star"></i>
            <p>Mis Matrículas</p>
          </a>
        </li>
        <li *ngIf="identity.perfil != 'ALUMNO(A)'" class="nav-item">
          <a routerLink="matriculas" href="#" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-folder"></i>
            <p>Matrículas</p>
          </a>
        </li>
        <li *ngIf="identity.perfil != 'ALUMNO(A)'" class="nav-header">AJUSTES</li>
        <li *ngIf="identity.perfil != 'ALUMNO(A)'" class="nav-item">
          <a routerLink="usuarios" href="#" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-user"></i>
            <p>Usuarios</p>
          </a>
        </li>
        <li *ngIf="identity.perfil != 'ALUMNO(A)'" class="nav-item has-treeview" routerLinkActive="active">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-cogs"></i>
            <p>
              Ajustes
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="" routerLink="carreras-periodos" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Carreras y Periodos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" routerLink="ciclos" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Ciclos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" routerLink="tipo-matriculas-pagos" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Tipo de Matriculas y Pagos</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div id="content" class="content-wrapper">
  <router-outlet></router-outlet>
  <ng-snotify></ng-snotify>
</div>
<!-- /.content-wrapper -->
<footer *ngIf="footer == true" class="main-footer">
  <strong>Copyright &copy; 2019-2021 <a href="https://www.novoaids.com">NOVOA IDS</a>.</strong>
  All rights reserved
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 4.1
  </div>
</footer>

<!-- Control Sidebar -->
<aside *ngIf="header == true" class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

