<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{{title}}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['inicio']" href="#">Inicio</a></li>
          <li class="breadcrumb-item active">{{title}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
  <div class="container-fluid">
    <p-panel>
      <p-header>
        <div class="ui-toolbar-group-left">
          Ajustes
        </div>
        <div class="ui-toolbar-group-right">
          <button [routerLink]="['']"
                  type="button"
                  pButton
                  icon="pi pi-times"
                  class="ui-button-danger"
                  label="Salir">
          </button>
        </div>
      </p-header>
      <div class="row">
        <div class="col-md-7">
          <p-panel>
            <p-header>Carreras</p-header>
            <p-toolbar>
              <div class="ui-toolbar-group-left">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input #gb type="text" pInputText placeholder="Buscar...">
              </div>
              <div class="ui-toolbar-group-right">
                <button type="button"
                        pButton
                        (click)="loadCarreras()"
                        icon="pi pi-refresh"
                        class="ui-button-success">
                </button>
                <button type="button"
                        pButton
                        (click)="addCarreras()"
                        icon="pi pi-plus">
                </button>
              </div>
            </p-toolbar>
            <p-dataTable [value]="data_c"
                         selectionMode="single"
                         [globalFilter]="gb"
                         [paginator]="true"
                         [rows]="[5]"
                         [responsive]="true"
                         [loading]="loading3">
              <p-column field="nombre"
                        header="CARRERA"
                        [sortable]="true">
              </p-column>
              <p-column field="descripcion"
                        header="DESCRIPCION"
                        [sortable]="true">
              </p-column>
              <p-column field="estado"
                        header="ESTADO"
                        [style]="{'width':'100px'}"
                        [sortable]="true">
                <ng-template let-col let-car="rowData" pTemplate="body">
                  <div *ngIf="car[col.field] == 1; then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>ACTIVO</ng-template>
                  <ng-template #elseBlock>BLOQUEADO</ng-template>
                </ng-template>
              </p-column>
              <p-column field=""
                        header="ACCIÓN"
                        [style]="{'width':'125px'}"
                        [sortable]="true">
                <ng-template let-carreras="rowData" pTemplate="body">
                  <div class="ui-helper-clearfix">
                    <button type="button"
                            pButton
                            (click)="editCarreras(carreras)"
                            icon="pi pi-pencil"
                            style="float:left; margin: 5px"
                            label="Editar">
                    </button>
                  </div>
                </ng-template>
              </p-column>
            </p-dataTable>
          </p-panel>
        </div>
        <div class="col-md-5">
          <p-panel>
            <p-header>Periodos</p-header>
            <p-toolbar>
              <div class="ui-toolbar-group-left">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input #gb type="text" pInputText placeholder="Buscar...">
              </div>
              <div class="ui-toolbar-group-right">
                <button type="button"
                        pButton
                        (click)="loadPeriodos()"
                        icon="pi pi-refresh"
                        class="ui-button-success">
                </button>
                <button type="button"
                        pButton
                        (click)="addPeriodos()"
                        icon="pi pi-plus">
                </button>
              </div>
            </p-toolbar>
            <p-dataTable [value]="data_p"
                         selectionMode="single"
                         [globalFilter]="gb"
                         [paginator]="true"
                         [rows]="[5]"
                         [responsive]="true"
                         [loading]="loading1">
              <p-column field="nombre"
                        header="PERIODO"
                        [sortable]="true">
              </p-column>
              <p-column field="estado"
                        header="ESTADO"
                        [style]="{'width':'100px'}"
                        [sortable]="true">
                <ng-template let-col let-car="rowData" pTemplate="body">
                  <div *ngIf="car[col.field] == 1; then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>ACTIVO</ng-template>
                  <ng-template #elseBlock>BLOQUEADO</ng-template>
                </ng-template>
              </p-column>
              <p-column field=""
                        header="ACCIÓN"
                        [style]="{'width':'125px'}"
                        [sortable]="true">
                <ng-template let-periodos="rowData" pTemplate="body">
                  <div class="ui-helper-clearfix">
                    <button type="button"
                            pButton
                            (click)="editPeriodos(periodos)"
                            icon="pi pi-pencil"
                            style="float:left; margin: 5px"
                            label="Editar">
                    </button>
                  </div>
                </ng-template>
              </p-column>
            </p-dataTable>
          </p-panel>
        </div>
      </div>
    </p-panel>
  </div>
</div>

<!--Growl-->
<p-growl [(value)]="msgs"></p-growl>

<!--Periodos-->
<form [formGroup]="periodos">
  <p-dialog [(visible)]="display_p" [responsive]="true" [modal]="true">
    <p-header>
      {{title_p}}
    </p-header>
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Periodo <span class="red"> (*)</span></label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText name="nombre_p" formControlName="nombre" maxlength="4" minlength="4">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Estado</label>
        </div>
        <div class="ui-grid-col-8">
          <p-checkbox binary="true"
                      name="estado_p"
                      formControlName="estado">
          </p-checkbox>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button"
                pButton
                (click)="savePeriodos()"
                icon="pi pi-check"
                style="float: right"
                label="Guardar"
                [disabled]="!periodos.valid"
                class="ui-button-success">
        </button>
        <button type="button"
                pButton
                (click)="display_p = false"
                icon="pi pi-times"
                label="Cancelar"
                class="ui-button-danger">
        </button>
      </div>
    </p-footer>
  </p-dialog>
</form>

<!--Carreras-->
<form [formGroup]="carreras">
  <p-dialog [(visible)]="display_c" [responsive]="true" [modal]="true">
    <p-header>
      {{title_c}}
    </p-header>
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Carrera <span class="red"> (*)</span></label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText name="nombre_c" formControlName="nombre" maxlength="60" minlength="5">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Descripción <span class="red"> (*)</span></label>
        </div>
        <div class="ui-grid-col-8">
        <textarea pInputTextarea
                  class="toUpperCase"
                  type="text"
                  placeholder="Descripción"
                  style="text-align: justify"
                  name="descripcion_c"
                  formControlName="descripcion"
                  [rows]="5">
        </textarea>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label>Estado</label>
        </div>
        <div class="ui-grid-col-8">
          <p-checkbox binary="true"
                      name="estado_c"
                      formControlName="estado">
          </p-checkbox>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button"
                pButton
                (click)="saveCarreras()"
                icon="pi pi-check"
                style="float: right"
                label="Guardar"
                [disabled]="!carreras.valid"
                class="ui-button-success">
        </button>
        <button type="button"
                pButton
                (click)="display_c = false"
                icon="pi pi-times"
                label="Cancelar"
                class="ui-button-danger">
        </button>
      </div>
    </p-footer>
  </p-dialog>
</form>

<p-dialog [style]="{'background-color': 'transparent', 'border': 'none', 'box-shadow': 'none'}"
          [showHeader]="false" [(visible)]="display" [modal]="true" [resizable]="true"
          [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <p align="center" style="font-size: 200px; color: #b8c7ce;"><i class="fa fa-spinner fa-pulse"></i></p>
</p-dialog>
